.box {
    border: 1px solid black;
    width: 150px;
    height: 50px;
    padding: 10px;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#pink {
    background-color: pink;
}
