header {
    background-color: #FF9800;
    width: 1024px;
    margin: 0 auto;
}

.container {
    width: 1024px;
    margin: 0 auto;
    overflow: auto;
}

aside {
    background-color: pink;
    float: left;
    width: 204px;
}

main {
    background-color: beige;
    float: left;
    width: 820px;
}
