header {
    background-color: #FF9800;
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

aside {
    background-color: pink;
    float: left;
    width: 20%;
}

main {
    background-color: beige;
    float: left;
    width: 80%;
}

@media screen and (min-width:992px) {
    aside, main {
        width: 50%;
    }
    .google {
        display: none;
    }
}

@media screen and (min-width:1200px) {
     aside, main {
         width: 100%;
     }
}
