@import url('https://fonts.googleapis.com/css?family=Coiny');

.fancy-header {
    color: purple;
    text-decoration: underline;
}

body {
    background-color: cornflowerblue;
    background-image: url("../imgs/paisley.png");
    font-family: 'Coiny', cursive;

}

#top {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
    color: #FF9800
}

ul {
    list-style: lower-greek;
}

table, tr, td, th {
    border: 2px #FF9800 solid;
}

a:hover {
    color: aliceblue;
}